.buttons {
    font-size: 4em;
    display: flex;
    flex-direction: row;
}

.buttons > div {
    margin: 0.25em;
    color: white;
    background-color: #438ab9;
    width: 1.5em;
    text-align: center;
    border-radius: 0.25em;
    cursor: default;
    user-select: none;
}
